<h1>NodeJS Auth</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex suscipit
  repellendus quae, eius alias nostrum ratione commodi. Nulla ipsum maxime
  dolorum et labore numquam voluptatibus dolores, in rerum repellendus porro
  totam explicabo omnis fuga. Impedit eius unde expedita, doloribus ullam natus
  ut! Incidunt tenetur magni dolore ab ipsa itaque similique.
</p>

<div class="log-reg">
  <a href="/login">Masuk</a>
  <a href="/register">Daftar</a>
</div>
